@model IEnumerable<MediaLibrarian.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<br>
<form class="d-flex" role="search" asp-controller="BookModels" asp-action="Index">
    <input class="form-control me-2" type="text" name="searchString" placeholder="Search Books" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<br>

@foreach (var item in Model)
{
    <div class="card mb-3" style="max-width: 1300px;">
        <div class="row g-0">
            <div class="col-md-4">

                <br><br><br> <img src="@item.Image" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text"><u>Author:</u> @item.Writer <br> <u>Release Date:</u> @item.ReleaseDate <br> <u>User Rating:</u> @item.UserRating</p>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><small class="text-muted">@item.Genre || @item.GenreTwo || @item.GenreThree</small></p>
                    <br>
                    @*<a href="Movies/Details/@item.Id" class="btn btn-outline-success">View Movie</a>*@
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-warning" href="BookModels/Details/@item.Id" role="button">View Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
